doctype html
html(lang=translations.currentId || 'en')
  head
    meta(charset='UTF-8')
    title Miikka Ylätalo
    link(rel='shortcut icon' type='image/png' href='/icon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    //- SEO
    meta(name='title' content='Miikka Ylätalo')
    meta(name='description' content='Miikka Ylätalo’s CV site, showcasing various programming projects.')
    meta(name='keywords' content='miikka, ylätalo, mehis, portfolio, cv, project')
    meta(name='author' content='Miikka Ylätalo')
    meta(name='thumbnail' content=appUrl + '/my-face.jpg')
    script(type='application/ld+json').
      {"@context":"http://schema.org","@type":"Person","name":"Miikka Ylätalo","image":"/my-face.jpg","logo":"/my-face.jpg","url":"!{appUrl}"}
    //- Disable indexing for translations.
    if translations.currentId != ''
      meta(name='robots' content='noindex, follow')
    //- Open Graph
    meta(property='og:image' content=appUrl + '/my-face.jpg')

    //- Site CSS
    //- Includes bootstrap
    block mycss
      link(rel='stylesheet' type='text/css' href='/site.scss')
      //- link(rel='stylesheet' type='text/css' media='print' href='/pdf.scss?url')
  body

    //- Site head
    include _includes/site-head.pug

    main
      //- About Me
      include _includes/section-me.pug

      //- Skills
      include _includes/section-skills.pug

      .page-break

      //- Work & Education
      include _includes/section-work-n-education.pug

      //- Projects
      include _includes/section-projects.pug

    //- Footer
    footer.text-center
      | Site by Miikka Ylätalo
      br
      | Hosted on&#32;
      a(href='https://pages.github.com/' target='_blank') Github Pages
      br

    //- Non-blocking stuff last.
    script(src='/nonblocking.js' async type='module')
