section.section.projects
    a#projects.anchor
    .container
        h2.text-center= sections.projects.name
        
        .project-list
            each project, projectId in projects
                -
                    let contclass = '';
                    if (project.printHide)
                        contclass += ' no-print';
                    if (project.pageBreak)
                        contclass += ' last-before-page-break';
                div.project(class=contclass)
                    a.anchor(id='project-'+projectId)
                    h3= project.name
                    
                    //- Add possible links
                    - if (project.links)
                        - let linksep = false
                        //- p.links.in-print
                        //-     each link in project.links
                        //-         a(href=link.url target='_blank')= link.url
                        span.links.no-print
                            each link in project.links
                                - if (linksep)
                                    span.sep= '/'    
                                a(href=link.url target='_blank')= link.name
                                - linksep = true
                    
                    div.desc!= project.desc
                    div.tech-used= project.tech
                    div.string!= project.text
                - if (project.pageBreak)
                    div.page-break
                //- End project loop
                